<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-Commerce Payment Processing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="/js/jquery-3.2.1.js"></script>
    <link href="/css/uikit.css" rel="stylesheet">
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.js"></script>
</head>
<body >
<div uk-grid>
    <div class="uk-width-1-1">
        <nav class="uk-navbar-container uk-margin" uk-navbar>
            <div class="uk-navbar-left">

                <a class="uk-navbar-item uk-logo" href="#">PaySecure</a>

            </div>
            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav ">
                    <li>
                        <a href="/">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
                            Checkout
                        </a>
                    </li>
                    <li>
                        <a href="/process">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                            View Transactions
                        </a>
                    </li>
                    <li>
                        <a href="/clear-cache">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: trash"></span>
                            Clear Transactions
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="uk-container uk-container-small">
            <h3 class="uk-h3 uk-heading-bullet">Current Balance</h3>
            <small>Please Pay the current balance</small>


            <form action="process" method="post">
                <table class="uk-table">

                    <thead>
                    <tr>
                        <th></th>
                        <th></th>

                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>

                    </tr>
                    </tfoot>
                    <tbody>

                    <tr>
                        <td> Total Charge </td>
                        <td> <h2 class="uk-h2">$ 999</h2> </td>

                    </tr>
                    </tbody>
                </table>

                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_thd7ELc6guiVxQqwHZ8QiWqk"
                        data-amount="999"
                        data-name="E-Commerce Project"
                        data-description="Widget"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto">
                </script>
               <!-- <input id="p-v" type="button" class="uk-button uk-button-secondary" value="View Processed Transactions">
                <input id="c-c" type="button" class="uk-button uk-button-secondary" value="Clear Transaction Log">-->
                <input type="hidden" name="charge_amount" value="999">


            </form>

        </div>
    </div>
</div>


    <script>
        $(function(){
            $('.stripe-button-el').addClass('uk-button uk-button-primary');
            $('#p-v').click(function(e){
                window.location.href = '/process';
            });
            $('#c-c').click(function(e){
                window.location.href = '/clear-cache';
            });
        });
    </script>

</body>
</html>
