<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-Commerce Payment Processing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="/js/jquery-3.2.1.js"></script>
    <link href="/css/uikit.css" rel="stylesheet">
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.js"></script>
</head>
<body >
<div uk-grid>
    <div class="uk-width-1-1">
        <nav class="uk-navbar-container uk-margin" uk-navbar>
            <div class="uk-navbar-left">

                <a class="uk-navbar-item uk-logo" href="#">PaySecure</a>

            </div>
            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav ">
                    <li>
                        <a href="/">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
                            Checkout
                        </a>
                    </li>
                    <li>
                        <a href="/process">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                            View Transactions
                        </a>
                    </li>
                    <li>
                        <a href="/clear-cache">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: trash"></span>
                            Clear Transactions
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="uk-container uk-container-small">
            <h3 class="uk-h3 uk-heading-bullet">Transactions</h3>
            <small>View all completed transactions</small>


            <form action="process" method="post">
                <table class="uk-table">

                    <thead>
                    <tr>
                        <th>Transaction #</th>
                        <th>Transaction Details</th>

                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>

                    </tr>
                    </tfoot>
                    <tbody>

                    <?php foreach($charges as $c): ?>
                        <tr>
                            <td style="color: #af3316"><?=$c?></td>
                            <td>
                                <ul>
                                    <li><b>Amount: </b> $<?=$charge_data[$c]['amount']?> </li>
                                    <li><b>Balance Transaction Key: </b> <?=$charge_data[$c]['balance_transaction']?> </li>
                                    <li><b>Date Created: </b> <?=date('l F j, Y',(int)$charge_data[$c]['created'])?> </li>
                                    <li><b>Currency: </b> <?=$charge_data[$c]['currency']?> </li>
                                    <li><b>Email: </b> <?=$charge_data[$c]['email']?> </li>
                                    <li><b>Card Source: </b> <?=$charge_data[$c]['card_source']?> </li>
                                </ul>
                            </td>
                        </tr>
                    <?php endforeach; ?>

                    </tbody>
                </table>

            </form>

        </div>
    </div>
</div>



</body>
</html>