<template>
    <div>
        <navi></navi>
        <div class="uk-container uk-container-small uk-margin-top">
            <h3 class="uk-h3 uk-heading-line">Your Cart</h3>
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    <img src="static/iphone-se.png" style="max-width: 180px; max-height: 180px; height: auto; width: auto;" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Right</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    <form action="/process" method="post" id="payment-form">
                        <div class="form-row">
                            <label for="card-element">
                                Credit or debit card
                            </label>
                            <div id="card-element">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>

                            <!-- Used to display Element errors. -->
                            <div id="card-errors" role="alert"></div>
                        </div>

                        <button>Submit Payment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import navi from "@/components/parts/nav"
    import UIkit from 'uikit'
    import axios from 'axios'
    export default {
        name: "checkout",
        components: {
            navi: navi
        },
        data: function(){
            return {
                items: []
            }
        },
        methods: {
            iphoneX: function () {


                this.title = "Iphone X"
                this.itemId = "iphoneX_01"
                this.itemImgSource = "./assets/iphonex.png"
                this.itemDescription = "Display: 5.8 inch <br>Color: Black <span class=\"uk-text-muted\">(Shiny)</span><br>Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 800
                UIkit.modal("#payProcess").show()
            },
            iphone7: function () {


                this.title = "Iphone 7"
                this.itemId = "iphone7_01"
                this.itemImgSource = "./assets/iphone7.png"
                this.itemDescription = "Display: 4.4 inch <br>Color: Black <span class=\"uk-text-muted\">(Shiny)</span><br>Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 599
                UIkit.modal("#payProcess").show()
            },
            iphoneCharger: function () {


                this.title = "Iphone Charger Set"
                this.itemId = "iphonecharger_01"
                this.itemImgSource = "./assets/cable2.jpg"
                this.itemDescription = "Wall Connector, Car Connector and USB Cable (Type C)<br> Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 37
                UIkit.modal("#payProcess").show()
            },
            iphone3G: function () {


                this.title = "Iphone 3G"
                this.itemId = "iphone3G_01"
                this.itemImgSource = "./assets/IPhone_3G.png"
                this.itemDescription = "Display: 3.5 inch <br> Color: Black <span class=\"uk-text-muted\"></span><br>Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 37
                UIkit.modal("#payProcess").show()
            },
            iphone3Charger: function () {


                this.title = "Iphone 3 Charger"
                this.itemId = "iphone3Charger"
                this.itemImgSource = "./assets/iphone3Chrager.jpg"
                this.itemDescription = "30-pin to USB Cable <span class=\"uk-text-muted\">(Iphone 3GS Charger)</span><br>Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 15
                UIkit.modal("#payProcess").show()
            },
            iphoneHeadset: function () {


                this.title = "Apple Headphones"
                this.itemId = "iphoneHeadset01"
                this.itemImgSource = "./assets/headset.jpg"
                this.itemDescription = "Color: White <br>Type: Wired <br>Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 15
                UIkit.modal("#payProcess").show()
            },
            iphone3G01: function () {


                this.title = "Iphone 3GS"
                this.itemId = "iphone3G01"
                this.itemImgSource = "./assets/iPhone-3GS.png"
                this.itemDescription = "Display: 3.5 inch <br> Color: Black <span class=\"uk-text-muted\"></span><br> Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 240
                UIkit.modal("#payProcess").show()
            },
            iphone4: function () {


                this.title = "Iphone 4"
                this.itemId = "iphone401"
                this.itemImgSource = "./assets/iphone4.png"
                this.itemDescription = "Display: 3.5 inch <br> Color: Black <span class=\"uk-text-muted\"></span><br> Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 320
                UIkit.modal("#payProcess").show()
            },
            iphone4S: function () {


                this.title = "Iphone 4S"
                this.itemId = "iphone4s01"
                this.itemImgSource = "./assets/iphone4.png"
                this.itemDescription = "Display: 3.5 inch <br> Color: Black <span class=\"uk-text-muted\"></span><br> Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 350
                UIkit.modal("#payProcess").show()
            },
            iphoneWireless: function () {


                this.title = "Apple Wireless Headset"
                this.itemId = "iphoneWireless01"
                this.itemImgSource = "./assets/headset2.jpg"
                this.itemDescription = "Color: White <br>Type: Wireless <br>Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 34
                UIkit.modal("#payProcess").show()
            },
            iphone5s: function () {


                this.title = "Iphone 5s"
                this.itemId = "iphone5s01"
                this.itemImgSource = "./assets/iphone-5s.png"
                this.itemDescription = "Display: 4.0 inch <br>Color: Black <span class=\"uk-text-muted\"></span><br> Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 380
                UIkit.modal("#payProcess").show()
            },
            iphoneSE: function () {


                this.title = "Iphone SE"
                this.itemId = "iphoneSE01"
                this.itemImgSource = "./assets/iphone-se.png"
                this.itemDescription = "Display: 4.0 inch <br>Color: Black <span class=\"uk-text-muted\"></span><br> Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 450
                UIkit.modal("#payProcess").show()
            },
            iphoneCharger2: function () {


                this.title = "Iphone Charger"
                this.itemId = "iphoneCharger02"
                this.itemImgSource = "./assets/cable.jpg"
                this.itemDescription = "Color: White <br>Type: C <br> Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 34
                UIkit.modal("#payProcess").show()
            },
            iphone6: function () {


                this.title = "Iphone 6"
                this.itemId = "iphone601"
                this.itemImgSource = "./assets/iphone6.png"
                this.itemDescription = "Display: 4.7 inch <br>Color: Black <span class=\"uk-text-muted\"></span><br>Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 478
                UIkit.modal("#payProcess").show()
            },
            iphone6S: function () {


                this.title = "Iphone 6S"
                this.itemId = "iphone6s01"
                this.itemImgSource = "./assets/iphone6s.png"
                this.itemDescription = "Display: 4.7 inch <br>Color: Black <span class=\"uk-text-muted\"></span><br>Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 510
                UIkit.modal("#payProcess").show()
            },
        },
        mounted(){
            axios.get('http://localhost:80/cart')
                .then(function (response) {
                    console.log(response);
                    console.log(response.data.length);
                    for(i =0; i < response.data.length; i++){
                        this.data().items[response.data[i].itemID] = response.data[i]
                        console.log(this.data().items)
                    }

                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    }
</script>

<script src="https://js.stripe.com/v3/"></script>

<script>
    var stripe = Stripe('pk_test_thd7ELc6guiVxQqwHZ8QiWqk');
    var elements = stripe.elements();

    var style = {
        base: {
            // Add your base input styles here. For example:
            fontSize: '16px',
            color: "#32325d",
        }
    };

    var card = elements.create('card', {style: style});
    card.mount('#card-element');

    card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            if (result.error) {

                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {

                stripeTokenHandler(result.token);
            }
        });
    });

    function stripeTokenHandler(token){
        //todo send collected data to server
    }

</script>

<style scoped>

</style>