<template>
    <div>
        <navi></navi>
            <div class="uk-child-width-1-1@s uk-child-width-1-5@m uk-padding" uk-grid>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-text-center"><br>
                            <img class="imageSizing" src="../../assets/iphonex.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h4>Iphone X</h4>
                            <p class="uk-text-small">
                                <span class="uk-hidden itemId">iphoneX</span>
                                <span class="itemDescription">
                                    Display: 5.8 inch <br>
                                    Color: Black <span class="uk-text-muted">(Shiny)</span><br>
                                    Provided by <a href="https://www.apple.com/">Apple</a> <br>
                                </span><br>
                                Price: $<span ref="iphoneX" class="uk-text-lead itemPrice"> 800</span> USD <br><br>
                                <span class="uk-padding uk-text-center">

                                    <button v-on:click.self="iphoneX" ref="iphoneX_01" class="uk-button uk-button-primary uk-button-small itemSelect">Select</button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-text-center"><br>
                            <img class="imageSizing" src="../../assets/iphone7.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h4>Iphone 7</h4>
                            <p class="uk-text-small">
                                <span class="uk-hidden itemId">iphone7</span>
                                <span class="itemDescription">
                                    Display: 4.4 inch <br><br>
                                    Provided by <a href="https://www.apple.com/">Apple</a> <br>
                                </span><br>
                                Price: $<span class="uk-text-lead itemPrice"> 599</span> USD <br><br>
                                <span class="uk-padding uk-text-center">

                                    <button v-on:click.self="iphone7" class="uk-button uk-button-primary uk-button-small itemSelect">Select</button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-text-center"><br>
                            <img class="imageSizing" src="../../assets/cable2.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h4>Iphone Charger Set</h4>
                            <p class="uk-text-small">
                                <span class="uk-hidden itemId">iphoneCharger</span>
                                <span class="itemDescription" >
                                    Wall Connector, Car Connector and USB Cable (Type C)<br>
                                    Provided by <a href="https://www.apple.com/">Apple</a> <br>
                                </span>
                                Price: $<span class="uk-text-lead itemPrice"> 37</span> USD <br><br>
                                <span class="uk-padding uk-text-center">

                                    <button v-on:click.self="iphoneCharger" class="uk-button uk-button-primary uk-button-small itemSelect">Select</button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-text-center"><br>
                            <img class="imageSizing" src="../../assets/IPhone_3G.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h4>Iphone 3G</h4>
                            <p class="uk-text-small">
                                <span class="uk-hidden itemId">iphone3G</span>
                                <span class="itemDescription">
                                    Display: 3.5 inch <br>
                                    Color: Black <span class="uk-text-muted"></span><br>
                                    Provided by <a href="https://www.apple.com/">Apple</a> <br>
                                </span><br>
                                Price: $<span class="uk-text-lead itemPrice"> 200</span> USD <br><br>
                                <span class="uk-padding uk-text-center">

                                    <button v-on:click.self="iphone3G" class="uk-button uk-button-primary uk-button-small itemSelect">Select</button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-text-center"><br>
                            <img class="imageSizing" src="../../assets/iphone3Chrager.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h4>Iphone 3 Charger</h4>
                            <p class="uk-text-small">
                                <span class="uk-hidden itemId">iphone3Charger</span>
                                <span class="itemDescription">
                                   30-pin to USB Cable <span class="uk-text-muted">(Iphone 3GS Charger)</span><br>
                                    Provided by <a href="https://www.apple.com/">Apple</a> <br>
                                </span><br>
                                Price: $<span class="uk-text-lead itemPrice"> 15</span> USD <br><br>
                                <span class="uk-padding uk-text-center">

                                    <button v-on:click.self="iphone3Charger" class="uk-button uk-button-primary uk-button-small itemSelect">Select</button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-text-center"><br>
                            <img class="imageSizing" src="../../assets/headset.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h4>Apple Headphones</h4>
                            <p class="uk-text-small">
                                <span class="uk-hidden itemId">iphoneHeadset01</span>
                                <span class="itemDescription">
                                   Color: White <br>
                                    Type: Wired <br>
                                    Provided by <a href="https://www.apple.com/">Apple</a> <br>
                                </span><br>
                                Price: $<span class="uk-text-lead itemPrice"> 15</span> USD <br><br>
                                <span class="uk-padding uk-text-center">

                                    <button v-on:click.self="iphoneHeadset" class="uk-button uk-button-primary uk-button-small itemSelect">Select</button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-text-center"><br>
                            <img class="imageSizing" src="../../assets/iPhone-3GS.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h4>Iphone 3G</h4>
                            <p class="uk-text-small">
                                <span class="uk-hidden itemId">iphone3G01</span>
                                <span class="itemDescription">
                                    Display: 3.5 inch <br>
                                    Color: Black <span class="uk-text-muted"></span><br>
                                    Provided by <a href="https://www.apple.com/">Apple</a> <br>
                                </span><br>
                                Price: $<span class="uk-text-lead itemPrice"> 240</span> USD <br><br>
                                <span class="uk-padding uk-text-center">

                                    <button v-on:click.self="iphone3G01" class="uk-button uk-button-primary uk-button-small itemSelect">Select</button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-text-center"><br>
                            <img class="imageSizing" src="../../assets/iphone4.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h4>Iphone 4</h4>
                            <p class="uk-text-small">
                                <span class="uk-hidden itemId">iphone401</span>
                                <span class="itemDescription">
                                    Display: 3.5 inch <br>
                                    Color: Black <span class="uk-text-muted"></span><br>
                                    Provided by <a href="https://www.apple.com/">Apple</a> <br>
                                </span><br>
                                Price: $<span class="uk-text-lead itemPrice"> 320</span> USD <br><br>
                                <span class="uk-padding uk-text-center">

                                    <button v-on:click.self="iphone4" class="uk-button uk-button-primary uk-button-small itemSelect">Select</button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-text-center"><br>
                            <img class="imageSizing" src="../../assets/iphone4s.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h4>Iphone 4S</h4>
                            <p class="uk-text-small">
                                <span class="uk-hidden itemId">iphone4s01</span>
                                <span class="itemDescription">
                                    Display: 3.5 inch <br>
                                    Color: Black <span class="uk-text-muted"></span><br>
                                    Provided by <a href="https://www.apple.com/">Apple</a> <br>
                                </span><br>
                                Price: $<span class="uk-text-lead itemPrice"> 350</span> USD <br><br>
                                <span class="uk-padding uk-text-center">

                                    <button v-on:click.self="iphone4S" class="uk-button uk-button-primary uk-button-small itemSelect">Select</button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-text-center"><br>
                            <img class="imageSizing" src="../../assets/headset2.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h4>Iphone Wireless Headset</h4>
                            <p class="uk-text-small">
                                <span class="uk-hidden itemId">iphoneWireless01</span>
                                <span class="itemDescription">
                                   Color: White <br>
                                    Type: Wireless <br>
                                    Provided by <a href="https://www.apple.com/">Apple</a> <br>
                                </span><br>
                                Price: $<span class="uk-text-lead itemPrice"> 34</span> USD <br><br>
                                <span class="uk-padding uk-text-center">

                                    <button v-on:click.self="iphoneWireless" class="uk-button uk-button-primary uk-button-small itemSelect">Select</button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-text-center"><br>
                            <img class="imageSizing" src="../../assets/iphone-5s.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h4>Iphone 5s</h4>
                            <p class="uk-text-small">
                                <span class="uk-hidden itemId">iphone5s01</span>
                                <span class="itemDescription">
                                    Display: 4.0 inch <br>
                                    Color: Black <span class="uk-text-muted"></span><br>
                                    Provided by <a href="https://www.apple.com/">Apple</a> <br>
                                </span><br>
                                Price: $<span class="uk-text-lead itemPrice"> 380</span> USD <br><br>
                                <span class="uk-padding uk-text-center">

                                    <button v-on:click.self="iphone5s" class="uk-button uk-button-primary uk-button-small itemSelect">Select</button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-text-center"><br>
                            <img class="imageSizing" src="../../assets/iphone-se.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h4>Iphone SE</h4>
                            <p class="uk-text-small">
                                <span class="uk-hidden itemId">iphoneSE01</span>
                                <span class="itemDescription">
                                    Display: 4.0 inch <br>
                                    Color: Black <span class="uk-text-muted"></span><br>
                                    Provided by <a href="https://www.apple.com/">Apple</a> <br>
                                </span><br>
                                Price: $<span class="uk-text-lead itemPrice"> 450</span> USD <br><br>
                                <span class="uk-padding uk-text-center">

                                    <button v-on:click.self="iphoneSE" class="uk-button uk-button-primary uk-button-small itemSelect">Select</button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-text-center"><br>
                            <img class="imageSizing" src="../../assets/cable.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h4>Iphone Charger </h4>
                            <p class="uk-text-small">
                                <span class="uk-hidden itemId">iphoneCharger02</span>
                                <span class="itemDescription">
                                   Color: White <br>
                                    Type: C <br>
                                    Provided by <a href="https://www.apple.com/">Apple</a> <br>
                                </span><br>
                                Price: $<span class="uk-text-lead itemPrice"> 34</span> USD <br><br>
                                <span class="uk-padding uk-text-center">

                                    <button v-on:click.self="iphoneCharger2" class="uk-button uk-button-primary uk-button-small itemSelect">Select</button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-text-center"><br>
                            <img class="imageSizing" src="../../assets/iphone6.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h4>Iphone 6</h4>
                            <p class="uk-text-small">
                                <span class="uk-hidden itemId">iphone601</span>
                                <span class="itemDescription">
                                    Display: 4.7 inch <br>
                                    Color: Black <span class="uk-text-muted"></span><br>
                                    Provided by <a href="https://www.apple.com/">Apple</a> <br>
                                </span><br>
                                Price: $<span class="uk-text-lead itemPrice"> 478</span> USD <br><br>
                                <span class="uk-padding uk-text-center">

                                    <button v-on:click.self="iphone6" class="uk-button uk-button-primary uk-button-small itemSelect">Select</button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-text-center"><br>
                            <img class="imageSizing" src="../../assets/iphone6s.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h4>Iphone 6S</h4>
                            <p class="uk-text-small">
                                <span class="uk-hidden itemId">iphone6s01</span>
                                <span class="itemDescription">
                                    Display: 4.7 inch <br>
                                    Color: Black <span class="uk-text-muted"></span><br>
                                    Provided by <a href="https://www.apple.com/">Apple</a> <br>
                                </span><br>
                                Price: $<span class="uk-text-lead itemPrice"> 510</span> USD <br><br>
                                <span class="uk-padding uk-text-center">

                                    <button v-on:click.self="iphone6S" class="uk-button uk-button-primary uk-button-small itemSelect">Select</button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        <!--<a class="uk-button uk-button-default" href="#payProcess" uk-toggle>Open</a>-->

        <div id="payProcess" uk-modal>
            <div class="uk-modal-dialog">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h3 id="itpTitle" ref="itpTitle" class="uk-modal-title uk-text-lead">{{ title}}</h3>
                </div>
                <div class="uk-modal-body" >
                    <div class="uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid>
                        <div id="itpId" ref="itpId" class="uk-hidden">{{ itemId }}</div>
                        <div ref="itpImage" id="itpImage">
                            <img :src="itemImgSource" alt="">
                        </div>
                        <div>
                            <p ref="itpDescription" v-html="itemDescription" id="itpDescription">

                            </p>
                            <p class="uk-text-lead">
                                $ <span ref="itpPrice" id="itpPrice" > {{ itemPrice }} USD</span>
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="uk-child-width-1-1">
                        <div>
                            <div class="uk-margin">
                                <label for="itpQuantity" class="uk-text-small">Quantity</label>
                                <select ref="itpQuantity" id="itpQuantity" class="uk-select">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button id="itpAddCart" v-on:click="addToCart" class="uk-button uk-button-primary" type="button"><span class="uk-margin-small-right" uk-icon="cart"></span> Add To Cart</button>
                </div>
            </div>
        </div>

<footer1></footer1>



    </div>

</template>

<script>
    import navi from '@/components/parts/nav'
    import footer1 from '@/components/parts/footer'

    import UIkit from 'uikit'
    import axios from 'axios'
    export default {
        name: "index",
        components: {
            navi: navi,
            footer1: footer1
        },
        data: function () {
            return {
                title: "",
                itemId: "",
                itemImgSource: "",
                itemDescription: "",
                itemPrice: ""
            }
        },
        methods: {
          addToCart: function(){
                console.log(this.$refs)
              axios.post('http://localhost:80/cart', {
                  itemID: this.itemId,
                  itemName: this.title,
                  itemPrice: this.itemPrice,
                  itemQuantity: this.$refs.itpQuantity.value
              })
                  .then(function (response) {
                      console.log(response);
                  })
                  .catch(function (error) {
                      console.log(error);
                  });
              UIkit.modal("#payProcess").hide();
              UIkit.notification({
                  message: 'Successfully added to cart',
                  status: 'success',
                  pos: 'top-center',
                  timeout: 5000
              });
          },
            iphoneX: function () {


                this.title = "Iphone X"
                this.itemId = "iphoneX_01"
                this.itemImgSource = "./assets/iphonex.png"
                this.itemDescription = "Display: 5.8 inch <br>Color: Black <span class=\"uk-text-muted\">(Shiny)</span><br>Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 800
                UIkit.modal("#payProcess").show()
            },
            iphone7: function () {


                this.title = "Iphone 7"
                this.itemId = "iphone7_01"
                this.itemImgSource = "./assets/iphone7.png"
                this.itemDescription = "Display: 4.4 inch <br>Color: Black <span class=\"uk-text-muted\">(Shiny)</span><br>Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 599
                UIkit.modal("#payProcess").show()
            },
            iphoneCharger: function () {


                this.title = "Iphone Charger Set"
                this.itemId = "iphonecharger_01"
                this.itemImgSource = "./assets/cable2.jpg"
                this.itemDescription = "Wall Connector, Car Connector and USB Cable (Type C)<br> Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 37
                UIkit.modal("#payProcess").show()
            },
            iphone3G: function () {


                this.title = "Iphone 3G"
                this.itemId = "iphone3G_01"
                this.itemImgSource = "./assets/IPhone_3G.png"
                this.itemDescription = "Display: 3.5 inch <br> Color: Black <span class=\"uk-text-muted\"></span><br>Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 37
                UIkit.modal("#payProcess").show()
            },
            iphone3Charger: function () {


                this.title = "Iphone 3 Charger"
                this.itemId = "iphone3Charger"
                this.itemImgSource = "./assets/iphone3Chrager.jpg"
                this.itemDescription = "30-pin to USB Cable <span class=\"uk-text-muted\">(Iphone 3GS Charger)</span><br>Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 15
                UIkit.modal("#payProcess").show()
            },
            iphoneHeadset: function () {


                this.title = "Apple Headphones"
                this.itemId = "iphoneHeadset01"
                this.itemImgSource = "./assets/headset.jpg"
                this.itemDescription = "Color: White <br>Type: Wired <br>Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 15
                UIkit.modal("#payProcess").show()
            },
            iphone3G01: function () {


                this.title = "Iphone 3GS"
                this.itemId = "iphone3G01"
                this.itemImgSource = "./assets/iPhone-3GS.png"
                this.itemDescription = "Display: 3.5 inch <br> Color: Black <span class=\"uk-text-muted\"></span><br> Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 240
                UIkit.modal("#payProcess").show()
            },
            iphone4: function () {


                this.title = "Iphone 4"
                this.itemId = "iphone401"
                this.itemImgSource = "./assets/iphone4.png"
                this.itemDescription = "Display: 3.5 inch <br> Color: Black <span class=\"uk-text-muted\"></span><br> Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 320
                UIkit.modal("#payProcess").show()
            },
            iphone4S: function () {


                this.title = "Iphone 4S"
                this.itemId = "iphone4s01"
                this.itemImgSource = "./assets/iphone4.png"
                this.itemDescription = "Display: 3.5 inch <br> Color: Black <span class=\"uk-text-muted\"></span><br> Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 350
                UIkit.modal("#payProcess").show()
            },
            iphoneWireless: function () {


                this.title = "Apple Wireless Headset"
                this.itemId = "iphoneWireless01"
                this.itemImgSource = "./assets/headset2.jpg"
                this.itemDescription = "Color: White <br>Type: Wireless <br>Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 34
                UIkit.modal("#payProcess").show()
            },
            iphone5s: function () {


                this.title = "Iphone 5s"
                this.itemId = "iphone5s01"
                this.itemImgSource = "./assets/iphone-5s.png"
                this.itemDescription = "Display: 4.0 inch <br>Color: Black <span class=\"uk-text-muted\"></span><br> Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 380
                UIkit.modal("#payProcess").show()
            },
            iphoneSE: function () {


                this.title = "Iphone SE"
                this.itemId = "iphoneSE01"
                this.itemImgSource = "./assets/iphone-se.png"
                this.itemDescription = "Display: 4.0 inch <br>Color: Black <span class=\"uk-text-muted\"></span><br> Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 450
                UIkit.modal("#payProcess").show()
            },
            iphoneCharger2: function () {


                this.title = "Iphone Charger"
                this.itemId = "iphoneCharger02"
                this.itemImgSource = "./assets/cable.jpg"
                this.itemDescription = "Color: White <br>Type: C <br> Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 34
                UIkit.modal("#payProcess").show()
            },
            iphone6: function () {


                this.title = "Iphone 6"
                this.itemId = "iphone601"
                this.itemImgSource = "./assets/iphone6.png"
                this.itemDescription = "Display: 4.7 inch <br>Color: Black <span class=\"uk-text-muted\"></span><br>Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 478
                UIkit.modal("#payProcess").show()
            },
            iphone6S: function () {


                this.title = "Iphone 6S"
                this.itemId = "iphone6s01"
                this.itemImgSource = "./assets/iphone6s.png"
                this.itemDescription = "Display: 4.7 inch <br>Color: Black <span class=\"uk-text-muted\"></span><br>Provided by <a href=\"https://www.apple.com/\">Apple</a> <br>"
                this.itemPrice = 510
                UIkit.modal("#payProcess").show()
            },
        },
        mounted(){
            axios.get('http://localhost:80/cart')
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    }


</script>

<style scoped>
    .imageSizing{
        max-width: 170px;
        max-height: 170px;
        height: auto;
        width: auto;
    }
</style>