<template>
    <div class="uk-width-1-1 uk-light" style="background: #0d2d4f;">
        <div class="uk-container uk-container-small" >
            <div class="uk-child-width-1-1@s uk-child-width-1-3@m uk-padding" uk-grid>
                <div >
                    <h3 >Business Information</h3>
                    <span class="uk-text-lead">IphoneCentral</span>
                    <p class="uk-text-small">
                        648 Spruce Dr. <br>
                        Cranford, <br> NJ 07016
                        <br>
                        United States of America
                    </p>
                </div>
                <div>
                    <h3>Links</h3>
                    <p>Home <br>
                        Checkout</p>
                </div>
                <div>
                    <h3>Social Links</h3>
                    <div class="uk-child-width-1-4" uk-grid>
                        <div>
                            <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
                        </div>
                        <div>
                            <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
                        </div>
                        <div>
                            <a href="" class="uk-icon-button" uk-icon="google-plus"></a>
                        </div>
                        <div>
                            <a href="" class="uk-icon-button" uk-icon="instagram"></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "footer1"
    }
</script>

<style scoped>

</style>