<template>
    <div >
        <nav class="uk-navbar-container uk-margin uk-light " uk-sticky="top: 1500000px;" style="background: #0d2d4f;" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="#">IphoneCentral</a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <router-link to="/">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>
                            Home
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/checkout">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>

                            Checkout
                        </router-link>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {
        name: "navi"
    }
</script>

<style scoped>
    .router-link-exact-active{
        color: white !important;
        padding: 15px;
        border-bottom: 2px solid silver;
    }
</style>